[submodule "apps/zsa-voyager-keymap"]
	path = apps/zsa-voyager-keymap
	url = https://github.com/leonardoacosta/oryx-with-custom-qmk.git
[submodule "apps/kontroll"]
	path = apps/kontroll
	url = https://github.com/zsa/kontroll.git
