[Unit]
Description=Run mesh-heartbeat.service every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=mesh-heartbeat.service

[Install]
WantedBy=timers.target
